@import "../../assets/scss/variables";




.#{$prefix} {
  &-wrap {
    width: 100%;
    min-height: 100vh;
    &-top {
      padding: 10rpx 50rpx;
      text-align: center;
      font-weight: bold;
      color: #333;
      font-size: 30rpx;
    }

  }
 
}
